$red: #bf1a1e

body
  color: #333
  font-family: 'Roboto Slab', serif

h2
  font-size: 29px
  font-weight: 900
  margin-bottom: 20px
h3
  font-size: 16px
  font-weight: 900
p
  color: #303030
  font-family: 'Roboto Slab', serif
  font-size: 14px

a
  color: $red
  text-decoration: underline

section
  padding: 12px 0

img
  max-width: 100%

.container

.carousel-inner
  height: 300px

.text-center
  text-align: center

nav.nav.nav-inline
  padding: 10px 0
  a.nav-link
    text-transform: uppercase
    color: #868686
    font-size: 14px
    font-weight: 700
    text-decoration: none
    letter-spacing: 0.3px
    margin-left: 0
    .active
      color: #303030
    &:after
      content: ""
      display: inline-block
      width: 30px
      height: 12px
      background: url(../img/icon-menu.svg)
      background-repeat: no-repeat
      background-position: center
    &:last-child:after
      display: none

.button
  background: url(../img/btn.png)
  color: #ffffff
  padding: 10px
  font-size: 15px
  text-decoration: none
  font-weight: 900
  text-transform: uppercase
  background-size: cover
  background-repeat: no-repeat
  padding: 6px 26px
  margin-top: 10px

#owl-demo .item
  padding: 30px
  margin: 5px
  color: #333333
  text-align: center

#owl-demo1 .item
  margin: 10px
  color: #333333
  text-align: center
  iframe
    width: 90%
#owl-demo2
  padding: 10px
.line
  padding: 39px 2%
  position: relative
  .svg-wrap
    background: #ffffff
    display: inline-block
    z-index: 10
    position: relative
    padding: 0 15px
  &:before
    content: ""
    display: block
    position: absolute
    top: 79px
    width: 96%
    height: 10px
    background: url(../img/vectorpaint.svg)
    background-repeat: repeat-x
    background-size: 24px

#section_01
  padding: 20px 0 0 0
  .container
    padding: 0 45px

#section_02
  position: relative
  padding-bottom: 0
  .text-banner
    position: absolute
    bottom: 17px
    width: inherit
    p
      padding: 10px 12% 14px 0px

#section_02
    p
      line-height: 20px
      padding-right: 18%
      font-size: 13px
#section_03
  .container
    padding: 0 45px
    p
      line-height: 20px
      padding-right: 18%
      font-size: 13px
  h2
    padding-left: 52px
    position: relative
  .icon-h2
    position: absolute
    height: 20px
    left: 0
    top: -4px
    svg
      position: relative
      left: 65%
      top: 20%
    &:after
      content: ""
      width: 30px
      height: 8px
      position: absolute
      bottom: -23px
      border-left: 0px solid transparent
      border-top: 15px solid #bd111f
      border-right: 6px solid rgba(189, 17, 31, 0)
    &:before
      content: ""
      width: 47px
      height: 0
      border-left: 0px solid transparent
      border-top: 41px solid #bd111f
      border-right: 22px solid rgba(189, 17, 31, 0)
      position: absolute
      -webkit-transform: skew(0deg, -4deg)
      -ms-transform: skew(0deg, -4deg)
      transform: skew(0deg, -4deg)
  iframe
    width: 100%;
#section_09
  .row
    margin: 20px 0
  svg
    width: 80px
    float: left
  h4
    padding: 20px
    font-size: 20px

#section_015
  a
    padding: 0 10px
footer
  background: #2e2e2e
  padding: 20px 0
  a
    color: #ffffff
  p
    display: inline-block
    color: #ffffff
    font-weight: 900
    a
      font-weight: 500
      color: #ffffff

@media (min-width: 1200px)
  .container
    width: 1200px
    max-width: 100%
